.contact-module {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.contenedor-datos {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.contenedor-titulo-datos {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    padding-top: 20px;
}

.contenedor-titulo-datos > img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.contenedor-titulo-datos > strong {
    color: #00235a;
    font-size: 23px;

}


.contact-info h3, 
.social-media h3, 
.contact-form h3 {
    font-size: 30px;
    color: #00235a;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info ul ul {
    margin-top: 5px;
    margin-left: 20px;
}

.map-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: max-content;
}

.social-media {
    margin-top: 40px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}

.contact-form {
    margin-top: 40px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}



@media (min-width: 1076px) {

    .contact-module {
        width: 80%;
    }
    .contact-info {
        display: flex;
    }

    .map-container {
        width: 50%;
        margin-top: 0px;
        margin-left: auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }
}